.examples-wrapper-div {
    display: flex;
    justify-content: space-evenly;
}

.providerDialogContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.headerDiv {
    height: 64px;
    position: absolute;
    background-color: rgb(243, 243, 243);
    width: 100%;
}
